server:
  port: 8080
spring:
  application:
    name: gateway-service
  config:
    import:
      - optional:file:./smallokr_server/gateway/.env[.properties]
  profiles:
    active: dev
  cloud:
    gateway:
      # 网关全局跨域配置
      globalcors:
        default-filters:
          # 强制只保留第一个跨域头，防止重复
          - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
        cors-configurations:
          "[/**]":
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
        # 解决options请求被拦截的问题
        add-to-simple-url-handler-mapping: true
      routes:
        - id: target-service
          uri: lb://target-service
          predicates:
            - Path=/target-service/api/v1/**
        - id: todo-service
          uri: lb://todo-service
          predicates:
            - Path=/api/v1/todo/**
        - id: trace-service
          uri: lb://trace-service
          predicates:
            - Path=/api/v1/trace/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/user/**
        - id: community-service
          uri: lb://community-service
          predicates:
            - Path=/community/**
