<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alisa.smallokr.mapper.TodoMapper">
    <sql id="common">
        todo.todo_id as id,
        todo.todo_name as name,
        todo.todo_description as description,
        todo.todo_begin_date as beginDate,
        todo.todo_end_date as endDate,
        todo.user_id as userId,
        todo.todo_status_id as status
    </sql>
    <select id="findTodoByID" resultType="alisa.smallokr.entity.Todo">
        select <include refid="common"/> from tb_todo as todo where todo_id = #{id}
    </select>
    <select id="findTodoByUser" resultType="alisa.smallokr.entity.Todo">
        select <include refid="common"/> from tb_todo as todo where user_id = #{userId} order by todo_begin_date
    </select>
     <select id="getTodoByUserAndWeekDay" resultType="alisa.smallokr.entity.Todo">
        select <include refid="common"/> 
        FROM tb_todo AS todo
        JOIN tb_todo_repeat AS todoRepeat ON todoRepeat.todo_id = todo.todo_id
        where todo.user_id = #{userId}
        and 
        (todoRepeat.repeat_id in (SELECT dic_entry_id FROM tb_dic_entry WHERE dic_entry_value=#{weekDay})
        or DATE(todo.todo_begin_date)=DATE(#{date})
        )
        order by todo.todo_begin_date
    </select>

    <insert id="saveTodo" parameterType="alisa.smallokr.entity.Todo">
        insert into tb_todo(todo_id,todo_name,todo_description,todo_begin_date,todo_end_date,user_id,todo_status) values (#{id},#{name},#{description},#{beginDate},#{endDate},#{userId},#{#status})
        ON DUPLICATE KEY UPDATE
        todo_name=VALUES(todo_name),
        todo_description=VALUES(todo_description),
        todo_begin_date=VALUES(todo_begin_date),
        todo_end_date=VALUES(todo_end_date),
        todo_status=VALUES(todo_status)
    </insert>
    <delete id="deleteTodo">
        delete FROM tb_todo where todo_id=#{id}
    </delete>
</mapper>