version: "3.9"

services:
  gateway:
    image: ghcr.io/sunyuboalisa/smallokr-gateway:latest
    container_name: smallokr-gateway
    ports:
      - 8100:8080
    env_file:
      - ./gateway.env
    restart: always
    networks:
      - my_network

  targetservice:
    image: ghcr.io/sunyuboalisa/smallokr-targetservice:latest
    container_name: smallokr-targetservice
    env_file:
      - ./targetservice.env
    restart: always
    networks:
      - my_network

  todoservice:
    image: ghcr.io/sunyuboalisa/smallokr-todoservice:latest
    container_name: smallokr-todoservice
    env_file:
      - ./todoservice.env
    restart: always
    networks:
      - my_network

  userservice:
    image: ghcr.io/sunyuboalisa/smallokr-userservice:latest
    container_name: smallokr-userservice
    env_file:
      - ./userservice.env
    restart: always
    networks:
      - my_network

  traceservice:
    image: ghcr.io/sunyuboalisa/smallokr-traceservice:latest
    container_name: smallokr-traceservice
    env_file:
      - ./traceservice.env
    restart: always
    networks:
      - my_network

networks:
  my_network:
