<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alisa.smallokr.mapper.TodoMapper">
    <insert id="addTodo"  keyProperty="id"
        keyColumn="todo_id"
        useGeneratedKeys="true" parameterType="alisa.smallokr.POJO.Todo">
        insert into tb_todos 
        (todo_name,todo_description,todo_beginDate,todo_endDate)
        values(#{name},#{description},#{beginDate},#{endDate})
    </insert>
    <delete id="deleteTodo">
        delete from tb_todos where todo_id=#{todoId}
    </delete>
    <update id="updateTodo" parameterType="alisa.smallokr.POJO.Todo">
        update tb_todos 
        set 
        todo_name=#{name},todo_description=#{description},todo_beginDate=#{beginDate},todo_endDate=#{endDate}
    </update>
    <select id="findTodoById" resultType="alisa.smallokr.POJO.Todo">
        select * from tb_todos where todo_id=#{todoId}
    </select>
    <select id="findAll" resultMap="todoMap">
        select * from tb_todos
    </select>

    <resultMap id="todoMap" type="alisa.smallokr.POJO.Todo">
        <id property="id" column="todo_id" />
        <result property="name" column="todo_name"/>
        <result property="description" column="todo_description"/>
        <result property="beginDate" column="todo_beginDate"/>
        <result property="endDate" column="todo_endDate"/>
    </resultMap>
</mapper>