server:
  port: 9082
spring:
  application:
    name: todo-service
  config:
    import: optional:file:./smallokr_server/todoservice/.env[.properties]
  profiles:
    active: dev
# seata:
#   application-id: ${spring.application.name}
#   tx-service-group: smallokr
#   service:
#     vgroup-mapping:
#       smallokr: default
#   registry:
#     type: nacos
#     nacos:
#       application: seata-server
#       server-addr: 47.94.97.3:8848
#       username: nacos
#       password: nacos
mybatis:
  mapper-locations: classpath:alisa/smallokr/mapper/xml/*.xml
