<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alisa.smallokr.mapper.UserMapper">
    <sql id="common">
        user_id as id,
        user_name as username,
        user_password as password,
        user_email as email
    </sql>
    <select id="findUserByID" resultType="alisa.smallokr.entity.User">
        select <include refid="common"/> from tb_user where id = #{id}
    </select>
    <select id="findUserByName" resultType="alisa.smallokr.entity.User">
        select <include refid="common"/> from tb_user where user_name = #{name}
    </select>
    <select id="findUserByEmail" resultType="alisa.smallokr.entity.User">
        select <include refid="common"/> from tb_user where user_email = #{email}
    </select>
    <insert id="saveUser" parameterType="alisa.smallokr.entity.User">
        INSERT INTO tb_user(user_id, user_name, user_password,user_email) 
        VALUES (#{id}, #{username}, #{password},#{email})
        ON DUPLICATE KEY UPDATE 
        user_name = VALUES(user_name), 
        user_password = VALUES(user_password),
        user_email = VALUES(user_email)
    </insert>
</mapper>